:root {
  /* Colors */
  --color-white: rgb(245, 245, 245);
  --color-white--translucent: rgba(245, 245, 245, 0.9);
  --color-blue: rgb(0, 0, 255);
  --color-black: rgb(15, 15, 15);
  /* Color implementation */
  --color-bg-white: var(--color-white);
  --color-bg-blue: var(--color-blue);
  --color-bg-black: var(--color-black);
  /* Units */
  --unit-base: 3rem;
  --vw-100: 100vw;
  --vh-100: 100vh;
  --vw-50: 50vw;
  --vh-50: 50vh;
  /* Units implementation */
  --unit-sm: calc(.5 * var(--unit-base));
  --unit-md: calc(2 * var(--unit-base));
  --unit-lg: calc(3 * var(--unit-base));
  --unit-xl: calc(4 * var(--unit-base));
  --unit-xxl:calc(5 * var(--unit-base));
  --unit-xxxl: calc(6 * var(--unit-base));
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  cursor: crosshair;
}

@font-face {
  font-family: "Ladi-Weak";
  src: url("Ladi-Weak.woff") format("woff"), url("Ladi-Weak.woff2") format("woff2");
}
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: var(--color-white--translucent);
  width: clamp(18rem, 24rem + 3.7vw, 35rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 1.2rem 1.8rem 1.2rem;
  border-radius: 3rem;
  -webkit-filter: drop-shadow(0 0 0.5rem var(--color-blue));
          filter: drop-shadow(0 0 0.5rem var(--color-blue));
  top: 2rem;
  margin: auto;
  left: 0;
  right: 0;
}

.nav-bar__element {
  color: var(--color-blue);
  margin: 0 0.7rem;
  text-decoration: none;
  font-size: clamp(1.5rem, 0.56vw + 1.28rem, 2rem);
}

.nav-bar__element:hover {
  font-style: italic;
  letter-spacing: 0.1px;
  /* Letter-spacing applied to avoid reposition of words within the nav-bar when hovering due to italic style */
}

.nav-bar__element:visited {
  color: var(--color-blue);
  font-style: normal;
}

.padding--small {
  padding: var(--unit-md) var(--unit-base) var(--unit-lg);
}

.padding--medium {
  padding: var(--unit-lg) var(--unit-base);
}

.padding--large {
  padding: var(--unit-xxxl) var(--unit-base) 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h2 {
  font-size: clamp(5.2rem, 7.73vw + 2.11rem, 12rem);
  text-transform: uppercase;
  padding-bottom: 3rem;
  line-height: 100%;
}

h3 {
  font-size: clamp(3rem, 1.7vw + 2.32rem, 4.5rem);
  font-weight: 700;
  padding-bottom: 3rem;
}

.p--small {
  font-size: var(--unit-sm);
}

.p--main {
  font-size: clamp(3rem, 1.7vw + 2.32rem, 4.5rem);
  line-height: 150%;
}

.p--big {
  font-size: clamp(3.5rem, 1.14vw + 3.05rem, 4.5rem);
  font-weight: 300;
}

button,
.btn {
  background-color: transparent;
  color: var(--color-white);
  font-size: clamp(1.5rem, 2.1rem + 0.71vw, 3rem);
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--color-white);
  border-radius: var(--unit-lg);
  padding: var(--unit-sm) var(--unit-base);
  width: var(--unit-xl);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover,
.btn:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
}

.btn-secondary--black {
  color: var(--color-black);
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
}

.btn-secondary--black:hover {
  font-style: italic;
  letter-spacing: 0.4px;
}

.btn-secondary--black:visited {
  color: var(--color-black);
}

.text-align--center {
  text-align: center;
}

.flex-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--unit-base);
  padding: var(--unit-md) 0 var(--unit-md);
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-item--center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.box-sizing--border-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.full-height {
  min-height: var(--vh-100);
}

.p--main + .p--main {
  padding-top: var(--unit-base);
}

.margin-top--large {
  margin-top: var(--unit-xl);
}

.margin-bottom--large {
  margin-bottom: var(--unit-xl);
}

.bg-color--blue {
  background-color: var(--color-bg-blue);
  color: var(--color-white);
}

.bg-color--black {
  background-color: var(--color-bg-black);
  color: var(--color-white);
}

.font-color--blue {
  color: var(--color-blue);
}

.font-fam--aux {
  font-family: "Ladi-Weak";
}

.font-fam--aux-large {
  font-family: "Ladi-Weak";
  font-size: clamp(var(--unit-lg), 3.98vw + 6.91rem, var(--unit-xl));
  padding-bottom: var(--unit-base);
}

img[alt=profile-picture-marina] {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Illustration animated */
img[alt=yellow-animation] {
  max-height: 50rem;
  display: block;
  margin: 0 auto;
}

/* Name animation */
.svg-name {
  fill: rgb(245, 245, 245);
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  bottom: 5rem;
  right: 2.5rem;
}

.rotation {
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Blue gradient on hover */
.linear-gradient--blue {
  background: -webkit-gradient(linear, left top, right top, from(rgb(15, 15, 15)), color-stop(15%, rgb(15, 15, 15)), color-stop(60%, rgb(15, 15, 15)));
  background: linear-gradient(to right, rgb(15, 15, 15) 0%, rgb(15, 15, 15) 15%, rgb(15, 15, 15) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  background-size: 200% 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.linear-gradient--blue:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgb(15, 15, 15)), color-stop(15%, rgb(15, 15, 15)), color-stop(60%, rgb(0, 0, 255)));
  background: linear-gradient(to right, rgb(15, 15, 15) 0%, rgb(15, 15, 15) 15%, rgb(0, 0, 255) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: left;
  background-size: 100% 100%;
  /* background-clip added without webkit to ensure compatibility */
}

/* Images on hover effect */
.reveal-image {
  position: relative;
  color: rgb(245, 245, 245);
  text-decoration-line: underline;
  text-decoration-thickness: 2.5px;
}

.reveal-image:hover .hide {
  display: block;
  position: absolute;
  opacity: 1;
  left: -15rem;
  top: -10rem;
}

.hide {
  display: none;
}

.reveal-image:visited {
  color: rgb(245, 245, 245);
}

@media screen and (min-width: 580px) {
  button,
.btn {
    padding: var(--unit-sm) var(--unit-md);
  }
  .padding--small {
    padding: var(--unit-md) var(--unit-md) var(--unit-lg);
  }
  .padding--medium {
    padding: var(--unit-lg) var(--unit-md);
  }
  .padding--large {
    padding: var(--unit-xxxl) var(--unit-md) 0;
  }
}
@media screen and (min-width: 950px) {
  button,
.btn {
    padding: var(--unit-sm) var(--unit-md);
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--unit-base);
  }
  .half-viewport {
    width: var(--vw-50);
  }
  .padding--medium {
    padding: var(--unit-lg) var(--unit-md);
  }
  .padding--large {
    padding: var(--unit-xxxl) var(--unit-md) 0;
  }
  .svg-name {
    bottom: var(--unit-lg);
    right: var(--unit-md);
  }
}
@media screen and (min-width: 1200px) {
  .section-split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  [alt=profile-picture-marina] {
    max-width: var(--vw-50);
    height: 100%;
    -o-object-fit: none;
       object-fit: none;
  }
  .padding--small {
    padding: var(--unit-lg) var(--unit-lg) var(--unit-xl);
  }
  .padding--medium {
    padding: var(--unit-xl) var(--unit-lg);
  }
  .padding--large {
    padding: var(--unit-xxxl) var(--unit-lg) 0;
  }
  .margin-top--large {
    margin-top: var(--unit-xxxl);
  }
  .svg-name {
    bottom: var(--unit-lg);
    right: var(--unit-lg);
  }
}
@media screen and (min-width: 950px) and (max-width: 1439px) {
  .p--main--variation {
    font-size: 3.7rem;
  }
  .relative-padding {
    padding: var(--unit-lg) var(--unit-md) var(--unit-lg);
  }
}
@media screen and (min-width: 1440px) {
  .padding--small {
    padding: var(--unit-lg) var(--unit-lg) var(--unit-xl);
  }
  .padding--medium {
    padding: var(--unit-xl) var(--unit-lg);
  }
  .padding--large {
    padding: var(--unit-xxxl) var(--unit-lg) 0;
  }
}
.boder-top--solid {
  text-align: right;
  border: 1px solid rgb(245, 245, 245);
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  padding-top: 1rem;
  margin-top: 5rem;
  margin-bottom: 0;
}