button,
.btn {
  background-color: transparent;
  color: var(--color-white);
  font-size: clamp(1.5rem, 2.1rem + 0.71vw, 3rem);
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--color-white);
  border-radius: 10rem;
  padding: 1.5rem 6rem;
  width: 10rem;
  transition: 0.3s;
}

button:hover,
.btn:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
}

.btn-secondary--black {
  color: var(--color-black);
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
}

.btn-secondary--black:hover {
  font-style: italic;
  letter-spacing: 0.4px;
}

.btn-secondary--black:visited {
  color: var(--color-black);
}
