html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--color-white);
    color: var(--color-black);
    cursor: crosshair;
  }

//   @font-face {
//     font-family: 'ladiweak';
//     src: url('https://esatdev.com/2022/marina/about-me/fonts/ladi-weak-webfont.woff2') format('woff2'),
//          url('https://esatdev.com/2022/marina/about-me/fonts/ladi-weak-webfont.woff') format('woff');
//     font-weight: normal;
//   }

// PEGAR EL CODIGO DE ABAJO EN UTILITIES

// .font-fam--ladi-weak {
//   font-family: "ladiweak";
// }

// .font-fam--ladi-weak-large {
//   font-family: "ladiweak";
//   font-size: clamp(8.5rem, 3.98vw + 6.91rem, 12rem);
//   padding-bottom: 3rem;

  @font-face {
    font-family: 'Ladi-Weak';
    src: url('Ladi-Weak.woff') format('woff'),
         url('Ladi-Weak.woff2') format('woff2');
  }

