.text-align--center {
  text-align: center;
}

//Display flex only for buttons
.flex-buttons {
  display: flex;
  justify-content: center;
  gap: var(--unit-base);
  padding: var(--unit-md) 0 var(--unit-md);
}

//Display flex column
.flex-col {
  display: flex;
  flex-direction: column;
}

// Center items with display flex
.align-item--center {
  align-self: center;
}

.box-sizing--border-box {
  box-sizing: border-box;
}

.full-height {
  min-height: var(--vh-100);
}

// Other margin utilities
.p--main + .p--main {
  padding-top: var(--unit-base);
}

.margin-top--large {
  margin-top: var(--unit-xl);
}

.margin-bottom--large {
  margin-bottom: var(--unit-xl);
}


// Colors
  .bg-color--blue {
    background-color: var(--color-bg-blue);
    color: var(--color-white);
  }
  
  .bg-color--black {
    background-color: var(--color-bg-black);
    color: var(--color-white);
  }
  
  .font-color--blue {
    color: var(--color-blue);
  }
  



// REVISAR CANVIAR EL CODIGO DE LADI
  .font-fam--aux {
    font-family: "Ladi-Weak";
  }
  
  .font-fam--aux-large {
    font-family: "Ladi-Weak";
    font-size: clamp(var(--unit-lg), 3.98vw + 6.91rem, var(--unit-xl));
    padding-bottom: var(--unit-base);
}

